@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  height: 100%;
  font-family: 'Montserrat';
  font-weight: 500;
  background-color: #000000 !important;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.Link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #FFE585;
}

.Main, .shop {
  background: #121212;
}

.Main-header {
  padding-top: 155px;
  padding-bottom: 20px;
  font-size: 50px;
  font-weight: 500;
  line-height: 63px;
  text-align: center;
  text-transform: uppercase;
  color: #Fff;
}

.Main-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Main-description p {
  display: inline;
}

.Main-years {
  margin-right: 27px;
  margin-left: auto;
  font-style: normal;
  text-align: end;
  font-weight: 500;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #868686;
}

.Main-description div {
  display: flex;
  align-items: center;
}

.Main-subtitle {
  margin-left: 27px;
  margin-right: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #868686;
}

.Years {
  border-right: 4px solid #868686;
}

.Main-links {
  margin-top: 20px !important;
  margin-bottom: 100px !important;
}

.Main-links .col:first-child {
  text-align: right;
  margin-right: 50px;
}

.Main-links .col:last-child {
  margin-left: 50px;
}

.Main-image {
  margin: 0 auto;
  max-width: 1000px;
}


.promo {
  background: #000000;
  text-align: center;
  padding: 60px;
}

.promo-text {
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.legend {
  background: #121212;
}

.legend-mark {
  box-sizing: border-box;
  overflow: hidden;
  padding: 55px 0;
  display: flex;
  flex-direction: row;
}

.legend-label {
  text-align: end;
  font-weight: 400;
  font-size: 170px;
  line-height: 160px;
  letter-spacing: -0.1em;
  text-transform: uppercase;
  color: #FFE585;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.legend-title {
  margin-top: -3px;
  font-weight: 400;
  font-size: 40px;
  line-height: 27px;
  text-transform: uppercase;
  margin-left: 53px;
  color: #FFFFFF;
}

.legend-title p {
  letter-spacing: 0.1em;
}

.legend-accent {
  padding-left: 65px;
}

.legend-groups {
  margin-top: 30px;
  margin-left: 180px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.group-list {
  margin-left: 50px;
  margin-bottom: 45px;
}

.legend-image {
  max-width: 300px;
  height: auto;
  margin: 100px 60px 0 60px;
}


.carusel {
  padding: 50px 0 100px 0;
}

.carusel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carusel-image {
  height: 250px;
  width: auto;
}

.carousel-caption {
  position: static !important;
  padding-top: 0 !important;
}

.carusel-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 43px;
  text-transform: uppercase;
  color: #FFE585;
}

.info .container {
  position: relative;
}

.info-header {
  top: 30px;
  position: absolute;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 80px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFE585;
}

.info-block {
  background: #000000;
  position: absolute;
  top: -100px;
  border-radius: 60px;
}

.info-block .col-md-4:first-child {
  padding-left: 200px;
  padding-top: 150px;
}

.info-block .col-md-4:last-child {
  padding-right: 200px;
  padding-top: 220px;
  text-align: end;
}

.info-block .col-md-4:last-child .Link,
.info-block .col-md-4:last-child .info-text {
  margin-left: -270px;
}

.info-block .col image {
  width: auto;
}

.info-item {
  margin-bottom: 20px;
}

.info-title, .card-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFE585;
}

.info-description, .card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.info-text {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.info-link {
  padding: 15px;
}

.info-footer {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #868686;
  padding: 50px;
}

.category-bar, .brand-bar, .admin-bar {
  padding: 20px;
}

.category-bar, .brand-bar {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-transform: lowercase;
}

.category-bar .active span, .brand-bar .active span {
  color: #FFE585;
}

.category-title, .brand-title, .cart-title {
  margin-bottom: 5px;
  margin-right: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #868686
}

.category-item, .brand-item {
  padding: 5px;
}

.category-item span, .brand-item span {
  cursor: pointer;
}

.brand-list{
  display: flex;
  flex-direction: row;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.pages-item {
  cursor: pointer;
  padding: 5px;
}

.pages .active {
  color: #FFE585;
}

.no-devices {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

.device-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202020;
  margin: 10px;
  padding: 0 0 10px 0;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.card-block:hover {
  transform: scale(105%);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #FFFFFF;
  width: 100%;
}


.card-title {
  padding: 0 20px;
  margin-top: 20px;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

.card-title p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-description {
  margin: 20px 0;
}

.cart {
  margin-top: 10px;
  padding: 20px;
}

.cart-list {
  border-radius: 20px;
  overflow: hidden;
}

.cart-empty {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

.cart-item {
  background-color: #202020;
  margin: 0;
  padding: 10px;
}

.cart-item.dark {
  background-color: #313131;
}

.item-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #Fff;
}

.item-price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #Fff;
}

.delete-item {
  display: flex;
  justify-content: end;
}

.small-btn {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #FFE585;
  cursor: pointer;
}